@media(max-width:1399px){
    #filterable-cards .card{
        width: 16.8rem;
    }
}
@media(max-width:1199px){
    #filterable-cards .card{
        width: 19rem;
    }
}
@media(max-width:991px){
    #filterable-cards .card{
        width: 14rem;
    }
    .all_products .col-md-4{
        width: 50%;
    }
}
@media(max-width:825px){
    .product_details .lightbox{
        width: 110vw;
        height: 150vh;
    }
}
@media (max-width:800px) {

    .product_details .thumbnails{
        display: none;
    }
    .product_details .main-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .product_details .prev2,
    .product_details .next2{
        display: block;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        width: 60px;
        padding: 16px;
        margin-top: -50px;
        color: black;
        background-color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 100%;
        user-select: none;
        -webkit-user-select: none;        
    }

    .product_details .next2{
        right:0px ;
    }
    .product_details .prev2{
        left: -500px;
    }
}

@media (min-width: 769px) {
    .user_register_form .btnblock {
        border-top-right-radius: .3rem !important;
        border-bottom-right-radius: .3rem !important;
    }
} 

@media (max-width: 767px){
	.Bestseller_products .col-md-3{
		width: 100%;
	}
	.double_product .doubleproduct{
		margin-bottom: 20px;
	}
    .cart_page .card{
        margin: 3vh auto;
    }
    .cart_page .cart{
        padding: 4vh;
    }
    #filterable-cards .card {
        width: 15.8rem;
    }
    .all_products .col-md-4{
        width: 50%;
    }
   
} 
  @media (max-width: 600px){
     #filterable-cards .card {
        width: 15.7 rem;
    }
  } 
  @media (max-width: 537px){
     #filterable-cards .card {
        width: 15rem;
    }
  }
  @media (max-width: 534px){
     #filterable-cards .card {
        width: 15rem;
    }
  } 
  
  @media (max-width: 511px){
     #filterable-cards .card {
        width: 14rem;
    }
  }
  @media (max-width: 479px) {
  #filterable-cards {
    justify-content: center !important;
  }
  #filterable-cards .card {
    width: calc(100% / 1 - 10px) !important;
  }
}
 
@media (max-width:560px) {
    .product_details .mySlides2{
        width: auto;
        height: auto;
    }
}


 @media screen and (max-width:540px){
	      .superNavv .centerOnMobile {
	        text-align:center;
	      }
	    }

@media (max-width: 430px){
    .all_products .col-md-4{
        width: 100%;
    }
}

